//font families
$fontTitle: "Space Grotesk", serif;
$fontBody:  "Nunito Sans", sans-serif;
$fontLink:  "Nunito Sans", sans-serif;
$fontSpecial:  "Nunito Sans", sans-serif;


//font sizes
$fontSizeSmall: 0.8333em;
$fontSizeMedium: 1em;
$fontSizeLarge: 1.125em;
$fontSizeXLarge: 1.5em ;
$fontSizeXXLarge: 2em;


//colors

$maincolor: #000000;